:root {
  --skip-btn-color: #522143;
  --submit-background-color: #0069d9;
  --main-font-family: "Titillium Web", sans-serif;
}

.form {
  height: 300px;
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  height: 174px;
  width: 184px;
  color: #525252;
  background: #f4f4f4;
  margin-top: -50px;
  font-family: var(--main-font-family);
  padding: 10px;
  border: none;
}

.btns-container {
  width: 184px;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 0.875rem;
}
.form-btn {
  cursor: pointer;
}
.skip {
  margin-right: 12px;
  color: var(--skip-btn-color);
  border: none;
  background: transparent;
  width: 25px;
}
.submit {
  padding: 3px 12px;
  border: none;
  width: 67px;
  height: 32px;
  background: var(--submit-background-color);
  color: white;
  font-family: var(--main-font-family);
}
